<div class="row">

  <div class="col l3 s12 m6">
    <div class="cardForma">
    <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
    <a class="title" href="/detail/blender">BLENDER 2.8 - LES FONDAMENTAUX</a>
    <!--<p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>-->
    <hr> 
    <div class="duree-note">
      <div class="duree">
        <i class="far fa-clock"></i><span class="time">6H20</span>
      </div>
      <div class="note">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    </div> 
  </div>

  <div class="col l3 s12 m6">
    <div class="cardForma">
    <img src="./img/raspberry.jpeg" alt="Apprendre les fondamentaux du Raspberry Pi">
  <span class="title">Apprendre les fondamentaux du Raspberry Pi</span>
    <!--<p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>-->
    <hr> 
    <div class="duree-note">
      <div class="duree">
        <i class="far fa-clock"></i><span class="time">1H51</span>
      </div>
      <div class="note">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    </div> 
  </div>

  <div class="col l3 s12 m6">
    <div class="cardForma">
    <img src="./img/prototyper.jpeg" alt="Apprendre à Prototyper">
    <span class="title">Apprendre à Prototyper</span>
    <!--<p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>-->
    <hr> 
    <div class="duree-note">
      <div class="duree">
        <i class="far fa-clock"></i><span class="time">3H31</span>
      </div>
      <div class="note">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    </div> 
  </div>

  <div class="col l3 s12 m6">
    <div class="cardForma">
    <img src="./img/illustrator.jpeg" alt="Apprendre Illustrator CC 2019 - Niveau expert">
    <span class="title">Apprendre Illustrator CC 2019 - Niveau expert</span>
    <!--<p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>-->
    <hr> 
    <div class="duree-note">
      <div class="duree">
        <i class="far fa-clock"></i><span class="time">6H24</span>
      </div>
      <div class="note">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    </div> 
  </div>

  <div class="col l3 s12 m6">
    <div class="cardForma">
    <img src="./img/arduino.jpeg" alt="Apprendre Arduino">
    <span class="title">Apprendre Arduino</span>
    <!--<p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>-->
    <hr> 
    <div class="duree-note">
      <div class="duree">
        <i class="far fa-clock"></i><span class="time">2H44</span>
      </div>
      <div class="note">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    </div> 
  </div>

  <div class="col l3 s12 m6">
    <div class="cardForma">
    <img src="./img/coursDessin.jpeg" alt="Cours de dessin - Les fondamentaux de la bande Dessinée">
    <span class="title">Cours de dessin - Les fondamentaux de la bande Dessinée</span>
    <!--<p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>-->
    <hr> 
    <div class="duree-note">
      <div class="duree">
        <i class="far fa-clock"></i><span class="time">4H48</span>
      </div>
      <div class="note">
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    </div> 
  </div>
</div>
