<div class="row">
  <div class="col l8">
    <h5>PROGRAMME DÉTAILLÉ DE LA FORMATION</h5>
    <div class="video">
      <span class="nomVideo">
        <i class="far fa-play-circle"></i>
        <p>Teaser de la formation</p>
    </span>
    </div>

    <div class="video">
      <span class="nomVideo">
          <i class="far fa-play-circle"></i>
          <p>Présentation de la formation</p>
        </span>
      </span>
      <span class="duree">2:52</span>
    </div>

    <div class="video">
      <span class="nomVideo">
        <i class="far fa-play-circle"></i>
        <p>Présentation de Blender</p>
      </span>
      <span class="duree">1:00</span>
    </div>

    <div class="video">
      <span class="nomVideo">
        <i class="far fa-play-circle"></i>
        <p>Installation et réglages par défaut</p>
      </span>
      <span class="duree">2:55</span>
    </div>
    <div class="video">
      <span class="nomVideo">
        <i class="far fa-play-circle"></i>
        <p>Principes fondamentaux de la 3D</p>
      </span>
      <span class="duree">4:47</span>
    </div>   
  </div>


  <div class="col l4">
    <h5>OBJECTIFS</h5>
    <p>Maîtriser les fondamentaux de Blender 2.8</p>
    <h5>DESCRIPTION</h5>
    <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
    <h5>DÉTAILS DE LA FORMATION</h5>
    <p>La nouvelle version 2.80 de Blender apporte une petite révolution dans le monde de la 3D, et je vous propose dans cette formation de faire le tour complet du logiciel en y découvrant ses principes de fonctionnement, les outils de modélisation, d'animation, la création de matériaux et le nouveau moteur de rendu temps réel Eevee.</p>
    <p>À la fin de cette formation, vous serez autonome sur Blender et prêt à vous lancer dans vos projets créatifs en profitant de toutes dernières fonctionnalités.</p>
  </div>
</div>