<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Digitech</h5>
            <p class="grey-text text-lighten-4">Des formations digitals pour tous!</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Thématiques</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-cube"></i>   3D</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-pencil-ruler"></i>   Architecture & BIM</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-headphones-alt"></i>   Audio-MAO</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-mouse"></i>   Bureautique</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-hands-helping"></i>   Business & Développement personnel</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-laptop-code"></i>   Code</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-bezier-curve"></i>   Infographie</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-camera"></i>   Photographie</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-video"></i>   Vidéo-Compositing</a></li>
                <li><a class="grey-text text-lighten-3" href=""><i class="fas fa-business-time"></i>   Webmarketing</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2020 Copyright Elearning
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>