<div class="row headerForma">
  <div class="col l7">
    <img src="/img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX"/>
  </div>

  <div class="col l4">
    <div class="info col l3">
      <i class="far fa-clock"></i><span class="time">6H20</span>
    </div>
    <div class="info col l3">
      <span class="">77 LEÇONS</span>
    </div>

    <div class="row">
      <h4 class="col">BLENDER 2.8 - LES FONDAMENTAUX</h4>
    </div>
    <hr>
    <div class="row infoCmd">
      <p class="col prix">59,00€</p>
      <p class="col JeCommande">
        <!--<i class="fas fa-arrow-right"></i>-->
        <span>JE COMMANDE</span>
      </p>
    </div>
    <hr>
  </div>
</div>
  
  
<p> dans le header formation = <%= id %></p>