
<div class="container">
    <div class="heading h1 center">Nouveaux</div>
    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>
</div>


<div class="">
    <div class="title center">Nos formations les plus demandés</div>
    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l3 s12 m6">
            <div class="cardForma">
            <img src="./img/blender2_8.png" alt="BLENDER 2.8 - LES FONDAMENTAUX">
            <span class="title center"> <a href=""> BLENDER 2.8 - LES FONDAMENTAUX</a></span>
            <p>Blender est la suite 3D complète qui vous permet de réaliser des films d'animation, de l'illustration, et tout type de projet créatif en allant du motion design au rendu architectural, en passant par l'illustration technique ou la réalisation de modèles pour le jeux vidéo.</p>
            <hr> 
        
            <div class="duree-note">
                <div class="duree">
                <i class="far fa-clock"></i><span class="time">6h20</span>
            </div>
        
            <div class="note">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
        
            </div>
        </div>
    </div>
</div>