<ul class="lstright">
  <li> <a href=""> <i class="fas fa-cube"></i>     3D</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-pencil-ruler"></i>     Architecture & BIM</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-headphones-alt"></i>     Audio-MAO</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-mouse"></i>     Bureautique</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-hands-helping"></i>     Business & Développement personnel</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-laptop-code"></i>     Code</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-bezier-curve"></i>     Infographie</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-camera"></i>     Photographie</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-video"></i>     Vidéo-Compositing</a></li>
  <hr>
  <li> <a href=""> <i class="fas fa-business-time"></i>     Webmarketing</a></li>
  <hr>
  <!-- <li><i class="fas fa-star"></i></li>
  <li><i class="far fa-building"></i></li>
  <li><i class="far fa-handshake"></i></li> -->
</ul>

<!-- <i class="fab fa-d-and-d"></i> -->
