<ul>
  <li><i class="fas fa-cube"></i>3D</li>
  <li><i class="fas fa-pencil-ruler"></i>Architecture & BIM</li>
  <li><i class="fas fa-headphones-alt"></i>Audio-MAO</li>
  <li><i class="fas fa-mouse"></i>Bureautique</li>
  <li><i class="fas fa-hands-helping"></i>Business & Développement personnel</li>
  <li><i class="fas fa-laptop-code"></i>Code</li>
  <li><i class="fas fa-bezier-curve"></i>Infographie</li>
  <li><i class="fas fa-camera"></i>Photographie</li>
  <li><i class="fas fa-video"></i>Vidéo-Compositing</li>
  <li><i class="fas fa-business-time"></i>Webmarketing</li>
  <li><i class="fas fa-star"></i></li>
  <li><i class="far fa-building"></i></li>
  <li><i class="far fa-handshake"></i></li>
</ul>

<i class="fab fa-d-and-d"></i>