<div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8 center list">
        <ul>
            <li>Toute les formations</li>
            <li>3D</li>
            <li>Photographie</li>
            <li>Code</li>
            <li>Infographie</li>
            <li>Audio-MAO</li>
            <li>Bureautique</li>
        </ul>
    </div>
    <div class="col s12 m4 l2"></div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
  </div>