.cardForma{
  border: solid 2px #DDD;
  /*display: flex;
  flex-direction: column;*/
  padding: 10px 10px;
}

.cardForma img{
  width: 100%;
}

.cardForma .time{
  margin: 10px;
}

.duree-note{
  display: flex;
  justify-content: space-between;
}

.title{
  color: blue;
}